@charset "utf-8";

@import url("../launchpad-font/styles.css");
/*----------intial declartaion of css----------*/

/*----- Normalize.css Start -----*/
/*! normalize.css v6.0.0 | MIT License | github.com/necolas/normalize.css */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, select, input, option {
	border: 0 none;
	font-size: 100%;
	margin: 0;
	outline: 0 none;
	padding: 0;
}
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
article, aside, footer, header, nav, section {
	display: block
}
h1 {
	font-size: 2em;
	margin: .67em 0
}
figcaption, figure, main {
	display: block
}
figure {
	margin: 0;
}
hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible
}
pre {
	font-family: monospace, monospace;
	font-size: 1em
}
a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}
abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}
b, strong {
	font-weight: inherit;
	font-weight: bolder
}
code, kbd, samp {
	font-family: monospace, monospace;
	font-size: 1em
}
dfn {
	font-style: italic
}
mark {
	background-color: #ff0;
	color: #000
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sub {
	bottom: -.25em
}
sup {
	top: -.5em
}
audio, video {
	display: inline-block
}
audio:not([controls]) {
	display: none;
	height: 0
}
img {
	border-style: none
}
svg:not(:root) {
	overflow: hidden
}
button, input, optgroup, select, textarea {
	margin: 0
}
button, input {
	overflow: visible
}
button, select {
	text-transform: none
}
button, html [type="button"],/* 1 */ [type="reset"], [type="submit"] {
	-webkit-appearance: button
}
button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style:none;
	padding:0
}
button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText
}
legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal
}
progress {
	display: inline-block;
	vertical-align: baseline
}
textarea {
	overflow: auto
}
[type="checkbox"], [type="radio"] {
	box-sizing: border-box;
	padding: 0
}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height:auto
}
[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance:none
}
::-webkit-file-upload-button {
  -webkit-appearance:button;
  font:inherit
}
details,/* 1 */ menu {
	display: block
}
summary {
	display: list-item
}
canvas {
	display: inline-block
}
template {
	display: none
}
[hidden] {
	display: none
}
/*----- Normalize.css End -----*/

html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*, *:before, *:after {
	box-sizing: inherit;
}
/* For IE 6/7 (trigger hasLayout) */
body {
	font-family: "museo-sans", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.25;
	font-weight: 400;
	color: #000;
	-webkit-font-smoothing: subpixel-antialiased;
	height: 100%;
}
p {
	font-size: 14px;
	line-height: 1.2;
	padding-bottom: 25px;
	color: #000;
	font-family: arial
}
h1 {
	font-size: 32px;
	margin-bottom: 20px
}
h2 {
	font-size: 26px;
	margin-bottom: 20px
}
h3 {
	font-size: 20px;
	margin-bottom: 20px
}
h4 {
	font-size: 16px;
	margin-bottom: 20px
}
h5 {
	font-size: 12px;
	margin-bottom: 20px
}
/*--------Common classes------------*/
.hidden {
	display: none;
}
.no-margin {
	margin: 0
}
.no-padding {
	padding: 0
}
.cf:before, .cf:after {
	content: "";
	display: table
}
.cf:after {
	clear: both;
}
.cf {
	*zoom:1;
}
.clearfix:after{
  display: block;
  content: '';
  clear: both;
}
a:hover, a:focus {
	outline: 0 !important;
	box-shadow: none !important;
	text-decoration: none !important;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms--moz-transition: all 0.5s ease-in-out 0s;
	-o--moz-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
a:hover, a:active {
	outline: 0 !important;
	box-shadow: none !important;
	text-decoration: none !important;
}
/*--------start wrapper css------------*/

.wrapper {
	height: 100%;
	margin: 0 auto; /*initialize footer height in negative for sticky footer*/
}
/*-----------------------main styles starts here-----------------------------------------------*/

/*-----------Navigation start here---------------*/
.menu-icon {
	display: none;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	line-height: 33px;
	font-size: 22px;
	padding: 10px 0;
}
.menu-icon .menu-box {
	width: 50px;
	height: 38px;
	margin-right: 10px;
	padding: 5px;
	position: absolute;
	right: 0;
}
.menu-icon .menu-box span {
	width: 100%;
	height: 4px;
	margin-bottom: 6px;
	background: #000;
	display: block;
	border-radius: 2px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.menu-icon.active span:nth-child(1) {
	transform: rotate(45deg) translateY(8px) translateX(6px);
	-webkit-transform: rotate(45deg) translateY(8px) translateX(6px);
}
.menu-icon.active span:nth-child(2) {
	opacity: 0;
}
.menu-icon.active span:nth-child(3) {
	transform: rotate(-45deg) translateY(-7px) translateX(6px);
	-webkit-transform: rotate(-45deg) translateY(-7px) translateX(6px);
}
.enumenu_ul .caret {
	color: #fff;
	margin-left: 7px;
}
.enumenu_ul {
	padding: 0px;
	list-style: none;
}
.enumenu_ul > li {
	float: left;
	vertical-align: top;
	position: relative;
	margin-right: 30px;
}
.enumenu_ul > li:last-child {
	margin-right: 0;
}
.enumenu_ul li a {
	font-size: 18px;
	font-weight: 600;
	color: #3a0e79;
	font-family: "museo-sans", sans-serif;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	letter-spacing: .5px;
}
.enumenu_ul li a:after {
	background-color: #3a0e79;
	bottom: 0;
	content: "";
	height: 2px;
	left: 50%;
	position: absolute;
	right: 50%;
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	width: 0;
}
.enumenu_ul li.active a::after,
.enumenu_ul li a:hover:after {
	left: 0;
	right: 0;
	width: 100%;
}
.search_box #google_translate_element {
	font-size: 0;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 20px;
	width: 16%;
	z-index: 0;
	height: 42px;
}
.search_box #google_translate_element .goog-te-gadget-icon {
	display: none
}
#google_translate_element .goog-te-gadget-simple .goog-te-menu-value {
	color: #000;
	font-size: 0
}
#google_translate_element .goog-te-gadget-simple {
	background-color: transparent;
	border-width: 0;
	cursor: pointer;
	display: inline-block;
	font-size: 10pt;
	height: 100%;
	padding-bottom: 2px;
	padding-top: 1px;
	width: 100%;
}
#google_translate_element .goog-te-gadget {
	color: #666;
	font-family: arial;
	font-size: 11px;
	height: 42px;
	white-space: nowrap;
}
.enumenu_ul > li ul {
	display: none
}
.enumenu_ul ul li {
	width: 100%;
	margin: 0;
	list-style: none;
	position: relative;
}
.enumenu_ul.desk ul {
	top: 100%;
	z-index: 999;
	list-style: none;
	left: 0px;
	background: #000000;
	position: absolute;
	min-width: 150px;
}
/*Sub menu styles*/
.menu.submenu-ul-level1 li a {
	background: rgba(31, 26, 107, 0.8);
	color: #fff;
	padding-left: 90px;
}
.enumenu_ul.desk .sb-menu .sb-menu {
	left: 100%;
	top: 0;
}
.enumenu_ul.desk ul li a {
	padding: 10px 10px;
	display: block;
	color: #fff;
	font-size: 16px;
	text-align: center
}
.enumenu_ul.desk ul li:hover > a {
	background: #e6b705;
	color: #fff;
}
/*-----------Navigatinon end here---------------*/

/*-----------header section styles goes here---------------*/
header {
	transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
}
header.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	animation-name: menu-slide-down;
	-webkit-animation-name: menu-slide-down;
	-html-animation-name: menu-slide-down;
	-moz-animation-name: menu-slide-down;
	-o-animation-name: menu-slide-down;
	animation-duration: .7s;
	-webkit-animation-duration: .7s;
	-moz-animation-duration: .7s;
	-html-animation-duration: .7s;
	-o-animation-duration: .7s;
	z-index: 9999
}
@keyframes menu-slide-down {
0% {
-webkit-transform:translateY(-100%);
transform:translateY(-100%)
}
to {
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes menu-slide-down {
0% {
-webkit-transform:translateY(-100%)
}
to {
-webkit-transform:translateY(0)
}
}
 @-webkit-keyframes menu-slide-down {
0% {
-webkit-transform:translateY(-100%);
transform:translateY(-100%)
}
to {
-webkit-transform:translateY(0);
transform:translateY(0)
}
}
@-webkit-keyframes menu-slide-down {
0% {
-webkit-transform:translateY(-100%)
}
to {
-webkit-transform:translateY(0)
}
}
.header-main {
	background: #ffffff;
	width: 100%;
	clear: both;
	padding: 6px 0 25px 0;
}
.header-logo a {
	display: block;
	width: 100%;
	margin: 10px 0 0 0;
}
.header-logo a img {
	width: 100%;
}
.search_box {
	text-align: right;
	padding: 9px 0 0 0;
}
.search_box li {
	display: inline-block;
	vertical-align: middle;
	list-style: none;
	margin-right: 10px;
}
.search_box li:nth-child(2) {
	margin-right: 0;
}
.search_box .search-field {
	background: #edf2f2;
	padding: 13px 42px 13px 28px;
	border-radius: 26px;
	width: 100%;
	ont-size: 16px;
	color: #000;
	font-weight: 500;
	font-family: "museo-sans-condensed";
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.search_box .search-field:focus {
	background: #7bbf43;
}
.search_box li:first-child {
	position: relative;
	width: 295px;
}
.search_box li:first-child .search_submit {
	position: absolute;
	right: 14px;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 50%;
	border: 0;
	outline: 0;
	background: none;
	padding: 0;
	width: 30px;
	height: 30px;
}
.search_box li:first-child .search_submit:before {
	content: "";
	background: url(.../images/search-icon.png)no-repeat center;
	height: 14px;
	width: 15px;
	background-size: 14px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	right: 7px;
}
.search_box li:first-child .search_submit:hover:before {
	opacity: 0.5;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.search_box li:first-child .search_submit:focus:before {
	opacity: 0.5;
}
.search_box .btn-translate {
	background: #7bbf43;
	padding: 11px 27px;
	border-radius: 20px;
	font-size: 16px;
	color: #fff;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	font-family: "museo-sans-condensed";
	display: inline-block;
}
nav {
	text-align: right;
	float: right;
	padding: 23px 0 0 0;
}
.search_box .btn-translate:hover {
	background: #edf2f2;
	color: #000;
}
/*-----------header section styles ends here----------------*/

/*<<<<=======================banner page style starts here==========================>>>*/

/*-----------banner section styles starts here----------------*/
.banner {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: auto;
	display: block;
}

.banner .overlay{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.60);
	position: absolute;
	top: 0;
	left: 0;
}

.banner .banner-text{
	padding: 5% 20px;
}

.banner .banner-text h1 {
	font-size: 60px;
	color: #fff;
	font-weight: 900;
	margin: 0;
	line-height: 4.4rem;
	letter-spacing: 1px;
}

.banner .banner-text p {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	margin: 0;
	padding: 6px 0 33px 0;
	line-height: 2.2rem;
	font-family: "museo-sans-condensed";
}

@media (min-width: 992px) {

	.banner{
		height: 460px;
	}

	.banner .banner-text{
		padding-top: 5%;
	}

}

/*-----------banner section styles ends here----------------*/

/*<<<<=======================batter_helth-block  page style starts here==========================>>>*/

/*-----------banner section styles starts here----------------*/
.better_health-block .banner {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 760px;
	position: relative;
	padding: 305px 0 99px 0;
	width: 100%;
}
.better_health-block .banner .banner-text {
	position: relative;
	z-index: 99;
	padding: 0px 0 0 51px;
}
.better_health-block .banner .banner-text h1 {
	font-size: 72px;
	color: #fff;
	font-weight: 900;
	margin: 0;
	line-height: 5.1rem;
	letter-spacing: 1px;
}
.better_health-block .banner .banner-text p {
	font-size: 24px;
	color: #fff;
	font-weight: 500;
	margin: 0;
	padding: 17px 0 33px 0;
	line-height: 2.2rem;
	width: 535px;
	font-family: "museo-sans-condensed";
	letter-spacing: .3px;
	letter-spacing: -.1px;
}
.better_health-block .banner .banner-text .btn {
	background: #ffffff;
	font-size: 16px;
	color: #3a0e79;
}
.better_health-block .banner .banner-text .btn:hover {
	background: none;
	border-color: #fff;
	color: #fff;
}
/*-----------banner section styles ends here----------------*/

/*-----------consulation-list section styles starts here----------------*/
.consultation-list {
	width: 100%;
	text-align: center;
}
.consultation-list .col-md-4 {
	padding: 0;
}
.consultations {
	background: #039fda;
	text-align: center;
	padding: 70px 34px 82px 34px;
}
.referrals {
	background: #3a0e79;
}
.referrals p {
	padding: 0 90px 36px 90px!important;
}
.consultations .btn
 {
	color: #039fda !important;
}
.traning .btn{
	color: #7bbf43 !important;
}
.referrals .btn {
	color: #3a0e79 !important;
}
.traning {
	background: #7bbf43;
}
.traning p {
	padding: 0 90px 36px 90px!important;
}
.consultations img {
	height: 80px;
}
.consultations h3 {
	font-size: 30px;
	color: #fff;
	margin: 46px 0 11px 0;
	font-weight: 900;
	line-height: 2.1rem;
}
.consultations p {
	font-size: 21px;
	color: #fff;
	padding: 0 0 36px 0;
	font-weight: 300;
	font-family: "museo-sans-condensed";
	line-height: 2.2rem;
	letter-spacing: .3px;
}
.consultations .btn:hover,
.traning .btn:hover  {
	background: none;
	color: #fff !important;
	border-color: #ffffff;
}
/*-----------consulation-list section styles ends here----------------*/

/*-----------consulation-helth section styles starts here----------------*/
.consultation-health {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	min-height: 719px;
	position: relative;
	padding: 208px 0 99px 0;
	text-align: center;
}
.consultation-health .overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.5)
}
.consultation-health .improve-health {
	position: relative;
	z-index: 99;
	width: 100%;
	padding: 0px 0 0 0px;
}
.consultation-health .improve-health h2 {
	font-size: 72px;
	color: #fff;
	font-weight: 900;
	margin: 0;
	line-height: 4.1rem;
	letter-spacing: 1px;
}
.consultation-health .improve-health h5 {
	font-size: 30px;
	color: #fff;
	font-weight: 500;
	line-height: 2.1rem;
	font-family: "museo-sans-condensed";
	margin: 19px 0 14px 0;
	letter-spacing: .4px;
}
.consultation-health .improve-health p {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	padding: 0 0 38px 0;
	line-height: 2.3rem;
	font-family: "museo-sans-condensed";
	max-width: 1142px;
	margin: 0 auto;
}
.consultation-health .improve-health .btn {
	background: #ffffff;
	font-size: 16px;
	color: #2c2c2c;
}
.consultation-health .improve-health .btn:hover {
	background: transparent;
	border-color: #fff;
	color: #fff;
}
/*-----------consulation-helth section styles ends here------------*/

/*-----------get-involved section styles starts here------------*/
.get-involved {
	width: 100%;
	padding: 48px 0 70px 0;
}
.involved_text {
	padding: 113px 0 94px 74px;
}
.involved_text h2 {
	font-size: 72px;
	color: #e09b3d;
	font-weight: 900;
	margin: 0;
	line-height: 4.1rem;
	letter-spacing: 1px;
}
.involved_text span {
	font-size: 24px;
	display: inline-block;
	color: #2c2c2c;
	font-weight: 600;
	margin: 30px 0 32px 0;
	line-height: 1.8rem;
	font-family: "museo-sans-condensed";
}
.involved_text p {
	font-size: 24px;
	color: #2c2c2c;
	font-weight: 300;
	padding: 0 47px 45px 0;
	line-height: 2.3rem;
	font-family: "museo-sans-condensed";
}
.involved_text .btn {
	background: #e09b3d;
	color: #fff;
}
.involved_map {
	padding: 0 0 0 49px;
}
.involved_text .btn:hover {
	background: none;
	border-color: #e09b3d;
	color: #e09b3d;
}
/*-----------get-involved section styles end here------------*/

/*-----------search_contect section styles starts here------------*/
.search_contect {
	text-align: center;
	padding: 87px 0;
	background: url(.../images/search-bg.jpg)no-repeat;
	background-position: center top;
	background-size: cover;
	height: 360px;
}
.search_contect .search_txt h2 {
	font-size: 72px;
	color: #fff;
	font-weight: 900;
	margin: 0;
	line-height: 4.1rem;
	letter-spacing: 1px;
	margin-bottom: 34px;
}
.contect_search {
	width: 877px;
	margin: 0 auto;
	position: relative;
}
.search_contect .search_txt .search {
	color: #6e6f72;
	background: #fdfdfd;
	width: 100%;
	padding: 27px 83px 25px 45px;
	border-radius: 50px;
	font-weight: 300;
	font-size: 25px;
	font-family: "museo-sans-condensed";
	letter-spacing: -.5px;
	border: 2px solid #fff;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.search_contect .search_txt .search:focus {
	border: 2px solid #3a0e79;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.search_contect .search_txt .search-submit:focus, .search_contect .search_txt .search-submit:hover {
	background: #3a0e79;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.search_contect .search_txt .search-submit {
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	background: #e09b3d;
	width: 54px;
	height: 54px;
	border-radius: 50%;
	border: 0;
	outline: 0;
}
.search_contect .search_txt .search-submit:hover {
	background:#3a0e79;
}
.search_contect .search_txt .search-submit:before {
	content: "";
	background: url(.../images/search-icon-white.png)no-repeat center;
	background-size: 22px;
	height: 22px;
	width: 23px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 14px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
/*-----------search_contect section styles end here------------*/
/*<<<<=======================batter_helth-block  page style end here==========================>>>*/

/*<<<<=======================Regional Providers  page style starts here==========================>>>*/

/*-----------banner section styles starts here----------------*/
.regional-provider .banner {
	background-color: #3a0e79;
}
.regional-provider .banner .banner-text .btn_get {
	background: #ffffff;
	font-size: 17px;
	color: #3a0e79;
	display: inline-block;
	border-radius: 35px;
	padding: 24px 48px;
	line-height: 1.4rem;
	letter-spacing: 1px;
	font-weight: 800;
	border: 2px solid transparent;
}
.regional-provider .banner .banner-text .btn_get:hover {
	background: none;
	border-color: #fff;
	color: #fff;
}
/*-----------banner section styles ends here----------------*/

/*-----------home-comman-text section styles starts here----------------*/
.home-comman-text {
	width: 100%;
	padding: 28px 0 25px 0;
	background: #edf2f2;
}
.home-comman-text p {
	color: #a0a0a0;
	font-size: 14px;
	font-weight: 500;
	font-family: "museo-sans", sans-serif;
	letter-spacing: .6px;
	padding-bottom: 0;
	display: inline-block;
	padding-left: 20px;
}
.home-comman-text a {
	color: #3a0e79;
	font-size: 14px;
	font-weight: 600;
	font-family: "museo-sans", sans-serif;
	letter-spacing: .5px;
	line-height: 1rem;
	display: inline-block;
	margin: 0 9px 0 8px;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.home-comman-text a:hover {
	color: #a0a0a0;
}
.home-comman-text p span {
	display: inline-block;
	vertical-align: top;
	margin-top: -3px;
	margin-right: 11px;
}
.breadcrumb>li {
	position: relative;
	vertical-align: top;
}
.breadcrumb>li:before {
	content: "";
	background: url(.../images/home.png)no-repeat center;
	height: 15px;
	width: 20px;
	position: absolute;
	left: 56px;
	top: 0;
	background-size: 8px;
}
/*-----------home-comman-text section styles ends here----------------*/

/*-----------project_txt section styles ends here----------------*/
.project_txt {
	padding: 80px 0;
	background: #ebebeb;
	padding: 75px 0 82px 0;
}
.project_txt p {
	font-size: 24px;
	color: #2c2c2c;
	font-weight: 300;
	margin: 0;
	line-height: 2.2rem;
	font-family: "museo-sans-condensed";
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
}
/*-----------project_txt section styles ends here----------------*/

/*-----------get-involved section styles starts here------------*/
.region-block {
	width: 100%;
	padding: 48px 0 68px 0;
}
.region_txt {
	padding: 93px 0 0 31px;
}
.region_txt h2 {
	font-size: 30px;
	color: #039fda;
	font-weight: 900;
	line-height: 2rem;
	letter-spacing: 2px;
	margin: 0 0 30px 0;
	white-space: nowrap;
}
.university_txt {
	margin: 0 0 54px 0;
}
.university_txt li {
	display: block;
	vertical-align: top;
	list-style: none;
	font-size: 30px;
	color: #000;
	font-weight: 500;
	position: relative;
	padding: 0 0 0 29px;
	font-family: "museo-sans-condensed";
	line-height: 2rem;
	margin-bottom: 20px;
}
.university_txt li:last-child {
	margin-bottom: 0;
}
.university_txt li:before {
	content: "";
	background: url(.../images/map-icon.png)no-repeat center;
	background-size: cover;
	height: 22px;
	width: 13px;
	position: absolute;
	left: 5px;
	top: 8px;
}
.region_txt h2 a {
	font-size: 32px;
	color: #039fda;
	font-weight: 900;
	margin: 0;
	line-height: 2rem;
	letter-spacing: 1.7px;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.region_txt h2 a:hover {
	color: #000 !important;
}
.region_txt span {
	font-size: 21px;
	display: inline-block;
	color: #2c2c2c;
	font-weight: 600;
	margin: 30px 0 32px 0;
	line-height: 1.1rem;
	letter-spacing: 1.1px;
	font-family: "museo-sans-condensed";
}
.region_txt p {
	font-size: 23px;
	color: #2c2c2c;
	font-weight: 300;
	padding: 0 47px 45px 0;
	line-height: 2.3rem;
	font-family: "museo-sans-condensed";
	letter-spacing: .3px;
}
.region_txt .btn {
	background: #039fda;
	font-size: 16px;
	color: #fff;
	display: inline-block;
	border-radius: 35px;
	padding: 24px 59px;
	line-height: 1.4rem;
	letter-spacing: 1.6px;
	font-weight: 600;
	border: 2px solid transparent;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.btn {
	background: #fff;
	font-size: 16px;
	color: #000;
	display: inline-block;
	border-radius: 35px;
	padding: 24px 53px;
	line-height: 1.4rem;
	letter-spacing: 1.4px;
	font-weight: 900;
	border: 2px solid transparent;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.region_map {
	padding: 19px 0 0 12px;
}
.region .btn-see:hover {
	background: none;
	border-color: #e09b3d;
	color: #e09b3d;
}
.region_txt .btn:hover {
	background: #d6d6d6;
	color: #000;
}
.region-block-2 .region_txt .btn:hover {
	background: #d6d6d6;
	color: #000;
}
.region-block-3 .region_txt .btn:hover {
	background: #d6d6d6;
	color: #000;
}
/*-----------region-block section styles end here------------*/

/*-----------region-block-2 section styles starts here------------*/
.region-block-2 {
	width: 100%;
	background: #edf2f2;
	padding: 48px 0 61px 0;
}
.region-block-2 .col-md-4 {
	padding-left: 0;
}
.region-block-2 .region_map {
	padding: 23px 0 0 0;
}
.region-block-2 .region_txt {
	padding: 99px 0 0 110px;
	margin-left: -5px;
}
.region-block-2 .region_txt h2 {
	color: #3a0e79;
}
.region-block-2 .region_txt .btn {
	background: #3a0e79;
	color: #fff;
}
.region-block-2 .region_txt h2 a {
	color: #3a0e79;
}
.region-block-2 .university_txt {
	margin: 0 0 61px 0;
}
.region-block-2 .region_map figure {
	width: 82%;
	float: right;
	margin-right: 27px;
}
.region-block-2 .region_map figure img {
	width: 100%;
}
/*-----------region-block-2 section styles end here------------*/

/*-----------region-block-3 section styles starts here------------*/
.region-block-3 {
	width: 100%;
	background: #fff;
	padding: 48px 0 67px 0;
}
.region-block-3 .col-md-4 {
	padding-left: 0;
}
.region-block-3 .region_map {
	padding: 16px 0 0 12px;
}
.region-block-3 .region_txt {
	padding: 79px 0 0 30px;
}
.region-block-3 .region_txt h2 {
	color: #7bbf44;
}
.region-block-3 .region_txt .btn {
	background: #7bbf44;
	color: #fff;
}
.region-block-3 .region_txt h2 a {
	color: #7bbf44;
}
.region-block-3 .university_txt {
	margin: 0 0 51px 0;
}
.region-block-3 .university_txt li {
	line-height: 2.4rem;
	margin-bottom: 48px
}
.region-block-3 .university_txt li:last-child {
	margin-bottom: 0;
}
/*-----------region-block-3 section styles end here------------*/
/*<<<<=======================Regional Providers  page style end here==========================>>>*/

/*<<<<=======================training-block  page style end here==========================>>>*/
.training-block {
	width: 100%;
}
/*-----------banner section styles starts here----------------*/
.training-block .banner {
	background-color: #7bbf43;
}
/*-----------banner section styles ends here----------------*/

/*-----------content_tbd_block section styles starts here----------------*/
.content_tbd_block {
	width: 100%;
	text-align: center;
	background: #fff;
	padding: 271px 0 296px 0;
}
.content_tbd_block .col-md-8 {
	margin: 0 auto;
	float: none;
}
.content_tbd_block .content-txt {
	text-align: center;
	margin: 0 auto;
	max-width: 1200px;
}
.content_tbd_block .content-txt p {
	font-size: 24px;
	color: #000;
	line-height: 2.3rem;
	font-family: "museo-sans-condensed";
	letter-spacing: -.1px;
	padding: 0 30px 0 30px;
	font-weight: 600;
}
/*-----------content_tbd_block section styles ends here----------------*/

/*<<<<=======================training-block  page style end here==========================>>>*/

/*<<<<=======================consultion_block  page style end here==========================>>>*/
.consultation_block {
	width: 100%;
}
/*-----------banner section styles starts here----------------*/
.consultation_block .banner {
	background-color: #039fda;
}
/*-----------banner section styles ends here----------------*/

/*-----------consulation_text section styles ends here----------------*/
.consultation_text {
	background: #fff;
	padding: 97px 0 91px 0;
}
.consultation_map {
	padding: 0 0 0 35px;
	text-align: center;
}
.consultation_map .btn {
	background: #e09b3d;
	margin: 28px 0 0 0;
	outline: 0;
	color: #fff;
}
.consultation_map .btn:hover {
	color: #000;
	background: #d6d6d6;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.consultation_dif {
	padding: 0 41px 0 86px;
}
.consultation_dif p {
	font-size: 24px;
	color: #2c2c2c;
	line-height: 2.3rem;
	font-family: "museo-sans-condensed";
	letter-spacing: -.2px;
	font-weight: 300;
	padding-bottom: 35px;
}
.region_list {
	text-align: center;
	padding: 41px 0 0 10px;
}
.region_list li {
	list-style: none;
	display: inline-block;
	vertical-align: top;
	width: 32.5%;
	padding: 0 38px 0 16px;
}
.region_list li:last-child {
	margin-right: 0;
}
.region_list li .map {
	background: #039fda;
	height: 70px;
	width: 70px;
	text-align: center;
	display: inline-block;
	line-height: 4.2rem;
}
.region_list li .map:hover {
	opacity: 0.8;
}
.region_list li.regio_1 .map {
	background: #039fda;
}
.region_list li.regio_2 .map {
	background: #3a0e79;
}
.region_list li.regio_3 .map {
	background: #7bbf44;
}
.region_list li .map img {
	width: 26px;
}
.region_list .regio_1 h6 span {
	color: #039fda;
	font-size: 24px;
	font-weight: 600;
	margin: 25px 0 7px 0;
	display: inline-block;
}

.region_list .regio_2 h6 span {
	color: #3a0e79;
	font-size: 24px;
	font-weight: 600;
	margin: 25px 0 7px 0;
	display: inline-block;
}

.region_list .regio_3 h6 span {
	color: #7bbf44;
	font-size: 24px;
	font-weight: 600;
	margin: 25px 0 7px 0;
	display: inline-block;
}

.region_list li a, .region_list li span {
	font-size: 24px;
	color: #2c2c2c;
	font-weight: 500;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.region_list li a:hover {
	color: #039fda;
}
/*-----------consulation_text section styles ends here----------------*/
/*<<<<=======================consultion_block  page style end here==========================>>>*/

/*<<<<=======================contact page style start here==========================>>>*/
/*-----------contact section styles starts here----------------*/
.contact {
	background: #fff;
	padding: 97px 0 91px 0;
}

.contact .social_media li a {
	color: #2c2c2c;
}
.contact .social_media li:last-child {
	color: #2c2c2c;
}

/*-----------contact section styles starts here----------------*/
/*<<<<=======================contact page style end here==========================>>>*/

/*<<<<=======================referrals-block  page style end here==========================>>>*/
/*-----------banner section styles starts here----------------*/
.referrals-block .banner {
	background-color: #3a0e79;
}
/*-----------banner section styles ends here----------------*/
.referrals-block .consultation_dif p {
	padding-right: 93px;
}
/*<<<<=======================referrals-block  page style end here==========================>>>*/

/*<<<<=======================about_block  page style end here==========================>>>*/
.about_block {
	width: 100%;
}
/*-----------banner section styles starts here----------------*/
.about_block .banner {
	background-color: #e09b3d;
}
.breadcrumb {
	padding: 0;
	margin: 0;
	background: none;
	padding: 0 0 0 73px;
}
/*-----------banner section styles ends here----------------*/

/*-----------vision-mission-block styles starts here----------------*/
.vision-mission-block {
	width: 100%;
	padding: 90px 0 66px 0;
}
.vision-mission-block .btn:hover {
	border-color: #e09b3d !important;
	color: #e09b3d !important;
	background: none !important;
}
.our-vision-txt {
	padding: 14px 0 0 70px;
}
.our-vision-txt h2 {
	font-size: 48px;
	color: #000;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 3rem;
	margin: 0 0 28px 0;
}
.our-vision-txt p {
	font-size: 24px;
	color: #000;
	font-weight: 300;
	font-family: "museo-sans-condensed";
	padding-right: 38px;
	line-height: 2.3rem;
	letter-spacing: -.2px;
}
.our-mission-txt {
	padding: 14px 0 0 34px;
}
.our-mission-txt h2 {
	font-size: 48px;
	color: #000;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 3rem;
	margin: 0 0 28px 0;
}
.our-mission-txt p {
	font-size: 24px;
	color: #000;
	font-weight: 300;
	font-family: "museo-sans-condensed";
	padding-right: 73px;
	line-height: 2.3rem;
	letter-spacing: -.2px;
}
/*-----------vision-mission-block styles ends here----------------*/

/*-----------primary-providers styles starts here----------------*/
.about_block .primary-providers {
	background-size: cover;
	background-position: center center;
	min-height: 840px;
	background-repeat: no-repeat;
	background-color: #3a0e79;
	width: 100%;
	text-align: center;
	padding: 122px 0 84px 0
}
.primary-providers h2 {
	font-size: 48px;
	color: #fff;
	font-weight: 900;
	line-height: 4rem;
	letter-spacing: .7px;
}
.care-provide_list {
	text-align: center;
	margin: 0 auto;
	padding: 63px 0 0 0;
}
.care-provide_list li {
	display: inline-block;
	width: 32%;
	vertical-align: top;
	text-align: center;
	padding: 0 40px 0 40px;
	margin-bottom: 20px;
}
.care-provide_list li:last-child {
	margin-bottom: 0;
	margin-right: 0;
}
.care-provide_list li figure img {
	width: 73px;
}
.care-provide_list li p {
	color: #fff;
	font-weight: 300;
	font-size: 24px;
	font-family: "museo-sans-condensed";
	padding: 23px 0 0 0;
	line-height: 2.4rem;
}
/*-----------primary-providers styles ends here----------------*/

/*-----------program-funded styles starts here----------------*/
.program-funded {
	background-color: #fff;
	background-position: center center;
	min-height: 741px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding: 118px 0;
}
.program-funded a {
	display: inline-block;
}
.program-funded a img {
	width: 353px;
	display: inline-block;
}
.program-funded h2 {
	font-size: 48px;
	color: #000;
	font-weight: 900;
	line-height: 3.7rem;
	letter-spacing: .7px;
	margin: 42px 0 30px 0;
}
.program-funded p {
	font-size: 24px;
	color: #2c2c2c;
	font-weight: 500;
	line-height: 2.4rem;
	letter-spacing: .1px;
	font-family: "museo-sans-condensed";
	max-width: 1340px;
	margin: 0 auto;
	padding: 0 0 48px 0;
}
.program-funded .btn {
	background: #3a0e79;
	color: #fff;
}
.program-funded .btn:hover {
	border-color: #000;
	color: #3a0e79;
	background: none;
}
/*-----------program-funded styles ends here----------------*/

/*-----------program-funded styles starts here----------------*/
.cordination-region {
	background-color: #7bbf43;
	min-height: 620px;
	background-position: center top;
	background-size: cover;
	background-repeat: no-repeat;
	padding: 113px 0;
}
.faqs{
	text-align: center;
	padding: 40px 0 20px;
}
/*-----------program-funded styles ends here----------------*/

/*-----------cordination-region styles starts here----------------*/
.cordination-txt {
	padding: 0 0 40px 0;
}
.cordination-txt h2 {
	font-size: 48px;
	color: #fff;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 3.6rem;
	margin: 0 0 32px 0;
}
.cordination-txt p {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	font-family: "museo-sans-condensed";
	line-height: 2.4rem;
	padding-bottom: 45px;
}
.reginal_provader {
	padding: 0;
}
.reginal_provader h2 {
	font-size: 48px;
	color: #fff;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 3.6rem;
	margin: 0 0 32px 0;
}
.reginal_provader p {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	font-family: "museo-sans-condensed";
	line-height: 2.4rem;
	padding-bottom: 45px;
}
.cordination-region .cta{
	text-align: center;
}
.cordination-region .btn {
	background: #ffffff;
	color: #3a0e79;
	outline: 0;
	font-weight: 900;
}
.cordination-region .btn:hover {
	background: none;
	color: #fff;
	border-color: #fff;
}
/*-----------cordination-region styles ends here----------------*/

/*<<<<=======================about_block  page style end here==========================>>>*/


/*<<<<=======================get-involved-block  page style starts here==========================>>>*/
/*-----------banner section styles starts here----------------*/
.get-involved-block .banner {
	background-color: #7bbf43;
}
/*-----------banner section styles ends here----------------*/

/*-----------project-services section styles starts here----------------*/
.project-services {
	padding: 103px 0 40px 0;
	text-align: center;
}
.project-services h2 {
	font-size: 48px;
	color: #000;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 3.6rem;
	margin: 0;
	margin-bottom: 92px;
}
.services-list {
	padding: 30px 0 0 0;
}
.services-list li {
	list-style: none;
	display: inline-block;
}
.service-txt .number {
	height: 104px;
	width: 104px;
	border-radius: 50%;
	background: #039fda;
	display: inline-block;
	text-align: center;
	color: #fff;
	font-size: 48px;
	font-weight: 900;
	line-height: 6.4rem;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.service-txt .two {
	background: #e09b3d;
}
.service-txt .tree {
	background: #7bbf43;
}
.service-txt .for {
	background: #3a0e79;
}
.service-txt p {
	font-size: 24px;
	color: #000;
	font-weight: 700;
	font-family: "museo-sans-condensed";
	line-height: 2.4rem;
	padding: 36px 20px 0 20px;
}
.project-services [class^="col-"]:nth-of-type(4n+1) {
	clear: both;
}
.project-services .disclaimer{
  margin-top: 40px;
}
.project-services .disclaimer p{
  margin-bottom:  0;
}
/*-----------project-services section styles ends here----------------*/
.pediatricp-primary {
	background-color: #039fda;
	padding: 79px 0 130px 0;
	text-align: center;
}
.pediatricp-primary h2 {
	font-size: 48px;
	color: #fff;
	font-weight: 900;
	letter-spacing: 1px;
	line-height: 3.6rem;
	margin: 0;
	margin-bottom: 17px;
}
.pediatricp-primary p {
	font-size: 24px;
	color: #fff;
	font-weight: 300;
	margin: 0;
	padding: 6px 0 33px 0;
	line-height: 2.2rem;
	font-family: "museo-sans-condensed";
}
.list-primary {
	padding: 73px 0 0 0;
}
.list-primary .col-md-3:last-child p {
	padding: 0 0 70px 0;
}
.primary-txt {
	background: #fff;
	text-align: center;
	padding: 55px 0 60px 0;
}
.primary-txt figure img {
	width: 73px;
}
.primary-txt figcaption {
	padding: 27px 12px 0 12px;
}
.primary-txt figcaption h6 {
	font-size: 24px;
	color: #000;
	font-weight: 500;
	font-family: "museo-sans-condensed";
	margin: 0 0 21px 0;
}
.primary-txt figcaption p {
	color: #000;
	font-size: 18px;
	font-family: "museo-sans-condensed";
	font-weight: 500;
	line-height: 1.9rem;
	padding: 0 0 45px 0;
}
.primary-txt .btn {
	color: #fff;
	background: #000000;
}
.primary-txt .btn:hover {
	color: #000;
	border-color: #000;
	background: none;
}
.get-involved-block .consultation-helth {
	min-height: 648px;
}
.get-involved-block .consultation-helth:after {
	min-height: 648px;
}
.get-involved-block .consultation-helth {
	padding: 220px 0 99px 0;
}
.get-involved-block .improve-helth p {
	padding: 9px 0 56px 0;
	font-size: 30px;
	font-weight: 500;
	max-width: 1200px;
	letter-spacing: .3px;
}
.get-involved-block .improve-helth .btn {
	color: #fff;
	font-size: 16px;
	background: #b5b5b5;
	font-weight: 600;
	padding: 23px 53px;
}
/*<<<<=======================get-involved-block  page style end here==========================>>>*/

/*<<<<=======================clinical-rating  page style starts here==========================>>>*/
/*-----------banner section styles starts here----------------*/
.clinical-rating .banner {
	background-color: #039fda;
}
.clinical-rating .home-comman-text p {
	letter-spacing: 1px;
}
/*-----------banner section styles ends here----------------*/

/*-----------aggression-block styles starts here----------------*/
.aggression-block {
	padding: 68px 0 82px 0;
}
.pairagraph-txt {
	padding: 7px 70px 103px 102px;
}
.pairagraph-txt p {
	font-size: 24px;
	color: #2c2c2c;
	font-weight: 300;
	margin: 0;
	padding: 0;
	line-height: 2.2rem;
	font-family: "museo-sans-condensed";
}
/*-----------table styles starts here----------------*/

/*-----------table styles end here----------------*/
.aggression-block table {
	max-width: 1360px;
	margin: 0 auto;
	display: table;
	width: 100%;
	border-bottom: 1px solid #95989a;
}
.aggression-block table td.aggression {
	background: #039fda;
	color: #fff;
	font-size: 18px;
	padding: 30px 10px 27px 31px;
	font-family: "museo-sans-condensed";
	letter-spacing: 2px;
	border-color: #039fda;
	font-weight: 600;
}
.aggression-block table tr td:first-child {
	text-align: left;
	border-left: 1px solid #95989a;
}
table tr td:first-child {
	padding: 30px 10px 27px 50px;
}
.aggression-block table td span {
	color: #7bbf43;
}
.aggression-block table td {
	border: 1px solid #95989a;
	border-radius: 0;
	display: table-cell;
	text-align: center;
	font-weight: 500;
	border-radius: 0;
	font-size: 16px;
	color: #000000;
	font-family: "museo-sans", sans-serif;
	letter-spacing: -.01px;
}
.aggression-block table td a {
	text-align: center;
	font-weight: 500;
	border-radius: 0;
	font-size: 16px;
	color: #000000;
	font-family: "museo-sans", sans-serif;
	letter-spacing: -.01px;
}
.aggression-block table td a:hover {
	text-decoration: underline !important;
	color: #19703e;
}
.aggression-block table th {
	display: table-cell;
	text-align: center;
	font-size: 14px;
	color: #000;
	font-weight: 800;
	font-family: "museo-sans", sans-serif;
	letter-spacing: 1px;
	padding-bottom: 13px;
}
.aggression-block table tr {
	display: table-row;
}
.aggression-block table tr:hover {
	background: #f5f5f5
}
/*-----------aggression-block styles ends here----------------*/
/*<<<<=======================clinical-rating  page style end here==========================>>>*/

/*<<<<=======================statewide coordinator center  page style starts here==========================>>>*/
/*-----------banner section styles starts here----------------*/
.statewide-crdinator .banner{
	background-color: #7bbf43;
}
.scc-upper{
  padding: 105px 0 103px 0;
}
.scc-content h4{
  font-size: 28px;
  line-height: 32px;
}
.scc-content ul{
  /*margin-left: 30px;*/
}
  .scc-content ul li{
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    margin-bottom: 20px;
    list-style-type: none;
  }
.scc-content ul li .icon{
  float: left;
  width: 8%;
}
.scc-content ul li span{
  float: left;
  width: 80%;
}
.icon-process,
.icon-cardinal,
.icon-openbook,
.icon-presentational{
  font-size: 30px;
  position: relative;
  top: 5px;
}
.scc-lower{
  background-color: #f6f6f6;
  padding: 80px 0px;
}
.psych-academy-blurb{
  text-align: center;
}
.psych-academy-blurb h4{
  color: #008CA8;
  font-size: 28px;
}
.psych-academy-blurb p{
  font-size: 24px;
  font-weight: 200;
  line-height: 32px;
  font-family: 'museo sans';
}
.psych-academy-logo{
  text-align: center;
  margin: 40px 0px;
}
.psych-academy-btn{
  background-color: #039FDA;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #fff;
}
/*-----------banner section styles end here----------------*/
/*<<<<=======================statewide coordinator center  page style end here==========================>>>*/

/*----------------footer pages styles goes here-----------*/
.accessablty p,
.disclmer p,
.privacy-plcy p{
	font-size: 16px;
	line-height: 20px;
}
.acc-quarter-first,
.acc-quarter-second,
.acc-quarter-third,
.acc-quarter-fourth{
	margin: 20px 0px;
	position: relative;
	padding: 15px 0;
}
	.acc-quarter-first:after,
	.acc-quarter-second:after,
	.acc-quarter-third:after{
		height: 2em;
    border-bottom: 1px solid gold;
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    z-index: -1;
    width: 85%;
    margin: 0 auto;
	}
.acc-quarter-first h4{
	font-size: 20px;
}
.acc-quarter-first ul li{
	list-style-type: none;
	margin-bottom: 10px;
}
	.acc-quarter-first ul li .fa{
		float: left;
		width: 3%;
	}
		.acc-quarter-first ul li .fa-address-card-o,
		.acc-quarter-first ul li .fa-phone,
		.acc-quarter-first ul li .fa-envelope{
			color: #039FDA;
			font-size: 13px;
		}
	.acc-quarter-first ul li span{
		float: left;
		width: 97%;
	}
.acc-quarter-second ul{
	margin-left: 40px;
}
.acc-quarter-fourth ul{
	padding-bottom: 20px;
	margin-left: 40px;
	list-style-type: none;
}
	.acc-quarter-fourth ul li{
		margin-bottom: 10px;
	}
	.acc-quarter-fourth ul li .fa{
		float: left;
    width: 3%;
    font-size: 22px;
    position: relative;
    top: -2px;
	}
	.acc-quarter-fourth ul li span{
		float: left;
		width: 97%;
	}
.accessablty ul li{
	font-size: 16px;
}
.privacy-plcy ol{
	margin-left: 20px;
	margin-bottom: 25px
}
	.privacy-plcy ol li{
		font-size: 16px
	}
/*----------------footer pages styles end here-----------*/

/*----------------footer section  styles goes here-----------*/
.footer-main {
	background: #3a0e79;
	width: 100%;
	padding: 69px 0 83px 0;
}
.footer-main .left-sec {
	padding-left: 0;
}
.ftr-logo {
	margin: 0 0 38px 60px;
	position: relative;
}
.ftr-logo a {
	width: 308px;
	display: inline-block;
	margin: 0;
}
.ftr-logo p {
	font-size: 8px;
	line-height: 1em;
	padding-bottom: 0;
	color: #fff;
	font-family: "museo-sans-condensed";
	letter-spacing: .3px;
	padding: 5px 0 0 0;
	text-align: right;
	margin-right: -2px;
}
.ftr-logo a img {
	width: 100%;
	display: block;
}
.health-logo {
	margin: 0 0 0 56px;
}
.health-logo a {
	width: 318px;
	display: inline-block;
}
.health-logo a img {
	width: 100%;
	display: block;
}
.health-logo span {
	color: #fff;
	font-size: 12px;
	line-height: 1rem;
	display: block;
	font-weight: 300;
	padding-left: 90px;
}
.health-logo p {
	font-size: 8px;
	line-height: 1em;
	padding-bottom: 0;
	color: #fff;
	font-family: "museo-sans-condensed";
	padding: 5px 0 0 0;
	text-align: right;
	margin-right: -12px;
	letter-spacing: .2px;
}
.ftr-project_teach {
	padding-left: 50px;
	padding: 8px 0 0 0;
	margin-left: -6px;
}
.ftr-project_teach h6 {
	margin-bottom: 15px;
	color: #fff;
	font-size: 20px;
	line-height: 1.1rem;
	letter-spacing: 1.0px;
	font-weight: 900;
}
.ftr-project_teach p {
	font-size: 18px;
	padding-bottom: 38px;
	color: #fff;
	line-height: 1.7rem;
	font-weight: 300;
	padding-right: 35px;
	font-family: "museo-sans-condensed";
}
.about_menu li {
	display: inline-block;
	vertical-align: top;
	margin-right: 37px;
}
.about_menu li:last-child {
	margin-right: 0;
}
.about_menu li a {
	font-size: 11px;
	color: #fff;
	font-weight: 900;
	line-height: 1rem;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	letter-spacing: 1.2px;
}
.about_menu li a:hover {
	color: #0f739d
}
.ftr-project_teach span {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	line-height: 1rem;
	padding: 37px 0 0 0;
	font-weight: 300;
}
.contact_text {
	padding: 8px 0 0 60px;
}
.contact_text h6 {
	margin-bottom: 20px;
	color: #fff;
	font-size: 18px;
	line-height: 1.1rem;
	letter-spacing: 2.3px;
	font-weight: 900;
}
.social_media {
	width: 100%;
}
.social_media li {
	width: 100%;
	list-style: none;
	margin-bottom: 26px;
}
.social_media li:last-child {
	margin-bottom: 0;
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	font-family: "museo-sans-condensed";
	line-height: 1rem;
}
.social_media li a {
	font-size: 18px;
	color: #fff;
	font-weight: 300;
	font-family: "museo-sans-condensed";
	line-height: 1rem;
	transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.social_media li a:hover {
	color: #0f739d
}
.social_media li a:hover .social_media li a span img {
	opacity: 0.7;
}
.social_media li span img {
	width: 17px;
	display: inline-block;
	margin-right: 15px;
}
.ftr-copy-txt .row {
	display: none;
}
.ftr-copy-txt .row .copy_txt {
	display: none;
	display: inline-block;
	font-size: 14px;
	color: #95989a;
	line-height: 1rem;
	font-weight: 300;
	padding: 20px 0 0 15px;
}
/*----------------footer section styles ends here--------*/

/*----------------bootstrap Components starts here--------*/

.accordion{
  margin: 20px 0;
}

.accordion h3 a {
	display: block;
	color: #fff;
}

.accordion .panel-heading {
	background: #039fda;
	border-color: #039fda;
}

.accordion .panel-heading h3 {
	margin: 0;
	font-size: 18px;
	font-weight: 500;
}

.panel-title a:before {
	font-family: 'FontAwesome';
	content: '\f056';
	float: left;
	color: inherit;
	padding-right: 10px;
	vertical-align: top;
}

.panel-title a.collapsed:before {
	content: '\f055';
}

.panel-body p:last-of-type{
  padding-bottom: 0;
}

/*----------------bootstrap Components ends here--------*/

/*--------end wrapper css------------*/
.preloader { display: none; }
 .contect_search input:-moz-placeholder {
color:#6e6f72;
opacity:1;
}
.contect_search input::-webkit-input-placeholder {
color:#6e6f72;
opacity:1;
}
.contect_search input::-moz-placeholder {
color:#6e6f72;
opacity:1;
}
.contect_search input:-ms-input-placeholder {
opacity:1;
color:#6e6f72;
opacity:1;
}

:-moz-placeholder {
color: #000;
}
::-webkit-input-placeholder {
color: #000;
}
::-moz-placeholder {
color: #000;
opacity:1;
}
:-ms-input-placeholder {
opacity:1;
color: #000;
}