@charset "UTF-8";

@font-face {
  font-family: "launchpad-font";
  src:url("fonts/launchpad-font.eot");
  src:url("fonts/launchpad-font.eot?#iefix") format("embedded-opentype"),
    url("fonts/launchpad-font.woff") format("woff"),
    url("fonts/launchpad-font.ttf") format("truetype"),
    url("fonts/launchpad-font.svg#launchpad-font") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "launchpad-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "launchpad-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-videos:before {
  content: "\62";
}
.icon-links:before {
  content: "\63";
}
.icon-newsletters:before {
  content: "\64";
}
.icon-publications:before {
  content: "\61";
}
.icon-cardinal:before {
  content: "\6b";
}
.icon-presentational:before {
  content: "\6c";
}
.icon-openbook:before {
  content: "\79";
}
.icon-process:before {
  content: "\65";
}
